<div>
    <nav>
        <a href="/" class="logo strong-hover-shake">
            <img src="images/miniLogo.png" alt="">
            <p class="logoName">eSparkBiz</p>
        </a>
        <ul>
            <li>
                <a href="/">
                    <span class="nav-item">Home</span>
                </a>
            </li>
            <li>
                <a href="/hotline">
                    <span class="nav-item">Hotline</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="nav-item">Calendar</span>
                </a>
            </li>
            <li onclick="myFunction('Attendence')">
                <a href="/attendance">
                    <span class="nav-item">Attendence</span>
                </a>
            </li>
            <li class="navsub-item" id="attend-sub" hidden>
                <a href="#">
                    <span class="nav-item nav-subitem">Summary</span>
                </a>
            </li>
            <li onclick="myFunction('Leave')">
                <a>
                    <span class="nav-item">Leaves</span>
                </a>
            </li>
        </ul>
    </nav>
</div>