<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="js/checkinout.js"></script>
    <link rel="stylesheet" href="/css/dasboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/regular.min.css">
    <link href="https://css.gg/css?=" rel="stylesheet">
    <link rel="stylesheet" href="css/bodystyle.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/attendancestyle.css">
    <link rel="stylesheet" href="css/hostlinestyle.css">
    <link rel="stylesheet" href="css/profilecss.css">
    <link rel="stylesheet" href="css/homecss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/leaves.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/regular.min.css">
    <link href="https://css.gg/css?=" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
</head>

<body>

    <div class="wrapper">
        <!-- sidebar -->
        <div class="sidebar">
            <%- include('../partials/sidebar.ejs') %>
        </div>

        <!-- Header -->
        <div class="hero">
            <div class="container">
                <div class="top-header">
                    <section>
                        <%- include('../partials/header.ejs') %>
                    </section>
                </div>
                <!-- Main body -->
                <div class="main">
                    <main><%- body %></main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>