<section class="home-section">
    <div class="container">
        <div class="body-rows">
            <div class="main-body">
                <div class="promo-card">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Record Your Attendance</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <li>
                                        <p class="h3">Attendance</p>
                                        <p class="p">11 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Late</p>
                                        <p class="p">4 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Absent</p>
                                        <p class="p">2 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Half Days</p>
                                        <p class="p">0 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Worked hours</p>
                                        <p class="p">88 hr 21 mins</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body">
                <div class="promo-card">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Add Your Comment</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <input type="text" placeholder="comment">
                                    <a href="#" class="abutton">comment</a>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body">
                <div class="promo-card">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Today's Action</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <li>
                                        <p class="h3">IP Address</p>
                                        <p class="p">103.215.158.90</p>
                                    </li>
                                    <li>
                                        <p class="h3">Current Date</p>
                                        <p class="p">17/3/2023</p>
                                    </li>
                                    <li>
                                        <p class="h3">Current Time</p>
                                        <p class="p">Current Time</p>
                                    </li>
                                </ul>
                                <ul class="buttonbox">
                                    <div class="button-class">
                                        <a href="#" class="abutton checkin">check in</a>
                                    </div>
                                    <div class="button-class">
                                        <a href="#" class="abutton breakin">break in</a>
                                    </div>
                                    <div class="button-class">
                                        <a href="#" class="abutton checkout">check out</a>
                                    </div>
                                    <div class="button-class">
                                        <a href="#" class="abutton breakout">break out</a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-rows">
            <div class="main-body">
                <div class="promo-card">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Record Your Attendance</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <li>
                                        <p class="h3">Attendance</p>
                                        <p class="p">11 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Late</p>
                                        <p class="p">4 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Absent</p>
                                        <p class="p">2 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Half Days</p>
                                        <p class="p">0 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Worked hours</p>
                                        <p class="p">88 hr 21 mins</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>