<div class="flexer background" >
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="data-body">
        <div class="body-rows">
            <div class="main-body">
                <div class="promo-card">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Record Your Attendance</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <li>
                                        <p class="h3">Attendance</p>
                                        <p class="p">11 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Late</p>
                                        <p class="p">4 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Absent</p>
                                        <p class="p">2 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Half Days</p>
                                        <p class="p">0 Days</p>
                                    </li>
                                    <li>
                                        <p class="h3">Worked hours</p>
                                        <p class="p">88 hr 21 mins</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body">
            <form action="/comment" method="post">
                <div class="promo-card">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Add Your Comment</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <input  id="comment" name="comment" type="text" class="click" placeholder="comment">
                                    <input type="submit"  value="comment"  class="abutton =" id="commentBtn"></a>
                                    
                                </ul>
                                <div id="cmt"></div>
                            </div>
                        </div>
                        <div class="comment-body">
                            <span id="commentBody"></span>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="main-body">
                <div class="promo-card overflower">
                    <div class="card-container">
                        <div class="card-header">
                            <h4 class="c-white">Today's Action</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <ul>
                                    <li>
                                        <p class="h3">IP Address</p>
                                        <p class="p">103.215.158.90</p>
                                    </li>
                                    <li>
                                        <p class="h3">Current Date</p>
                                        <p class="p">17/3/2023</p>
                                    </li>
                                    <li>
                                        <p class="h3">Current Time</p>
                                        <p class="p" id="realTime"></p>
                                    </li>
                                </ul>

                                <ul class="buttonbox">
                                    <div class="button-class">
                                        <button  onclick="demo(),checkin()" id="check_in" class="abutton checkin">check
                                            in</button>
                                    </div>
                                    <div class="button-class">
                                        <button onclick="breck(),breakin()" id="breck_in" class="abutton breakin" disabled>break
                                            in</button>
                                    </div>
                                    <div class="button-class">
                                        <button onclick="chk_out() , checkout()" id="check_out" class="abutton checkout"
                                            disabled>check out</button>
                                    </div>
                                    <div class="button-class">
                                        <button onclick="brc_out() , breakout()" id="breck_out"
                                            class="abutton breakout brc_out" disabled>break out</button>
                                    </div>

                                    <div id="ThankYou" class="checkout-msg-class">
                                    </div>
                                </ul>
                                <div id="attendenceEntry" class="comment-body thankyou" hidden></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-rows">
            <div class="main-body">
                <div class="promo-card bday">
                    <div class="card-container">
                        <div class="data-header card-header">
                            <h4 class="c-white">Upcoming Birthday</h4>
                            <div class="flexer">
                               
                                <a href="#" class="abutton2" style="margin-right:5px ;">
                                </a>
                                <a href="#" class="abutton2"> </a>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <div class="bday-body">
                                    <img class="b-day-img" src="bDay.jpg" alt="IMG" srcset="">
                                    <div class="bday-detail">
                                        <% if(result.length == ""){%>
                                            <h3> No Birth Day</h3>
                                            <%}else{%>
                                        <% for(var s = 0;s<result.length;s++){%>
                                            <h3 class="h3"><%= result[s].firstname%>  <%= result[s].lastname%> </h3>
                                            <p class="p"><%= result[s].birth_date%></p>
                                       <% }%>
                                            <% }%>
                                      
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-body">
                <div class="promo-card bday">
                    <div class="card-container">
                        <div class="data-header card-header">
                            <h4 class="c-white">Holidays</h4>
                            <div class="flexer">
                                <a href="#" class="abutton2" style="margin-right:5px ;">
                                </a>
                                <a href="#" class="abutton2"> </a>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="record-data">
                                <div class="bday-body holiday-body">
                                    <h3 class="h3">Makar Sankranti</h3>
                                    <div class="bday-detail">
                                        <p class="p">14th January | Sat 2023 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var commentbtn = document.getElementById("commentBtn");
var clickBtn = document.getElementsByClassName('click')[0];

if(clickBtn == ""){
    commentbtn.disabled = true;
}
else
{
    commentbtn.disabled = false;   
}
// Disable the button on initial page load
commentbtn.disabled = true;

//add event listener
clickBtn.addEventListener('click', function(event) {
    commentbtn.disabled = !commentbtn.disabled;

    
});


//
var myVar;

function myFunction() {
  myVar = setTimeout(showPage, 500);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}

</script>