@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.calender-main{
    width: 100%;
    border-radius: 10px;
  }
  .calender-main header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  .weeks{
    background-color: rgb(185, 185, 194);
  }
  header .icons span{
    cursor: pointer;
  }
  .icons span svg path{
    fill: rgb(17, 17, 17);
  }
  .icons span svg path:active{
    fill: #919191;
  }
  .calendar{
    width: 100%;
    background-color: #F0E7D8;
    border-radius: 10px;
  }
  th{
    padding: 10px 0;
  } td{
    min-width: 40px;
    min-height: 100px;
  }
  td p{
    text-align: center;
  }
 tr{
    border-bottom: 1px solid #000000;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
  }
  .mainDiv{
    align-items: center;
  }
  .current-date{
    align-self: center;
    font-weight: bolder;
    font-size: 2rem;
  }