.top-header {
    /* padding: 10px; */
    color: black;
    /* position: fixed; */
  
}

.header-section{
    display: flex;
    width: 100%;
    /* padding-left: 300px;
    align-items: center;
    justify-content: start; */
    /* height: 60px;
    padding: 20px; */
    position:fixed;
    background: #f5efef;
    justify-content: flex-end;
    padding-right: 21%;
   
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    padding-left: 35px;
    color: #002f4b;
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 8rem 2rem 2rem;
}
.searchBox{
    display: flex;
    align-items: center;
}
.searchBox input{
    padding: 9px;
    width: 250px;
    background: rgb(196, 196, 196);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchBox i{
    padding: 0.21rem 10px;
    cursor: pointer;
    color: #fff;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-icons a{
    margin: 2rem;
    cursor: pointer;
}
.header-icons .account{
    width:130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icons .account img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

