.wrapper .main {
    padding: 20px 20px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}
body{
    background-color: #e6ecf5;
}

/* #main {
    transition: margin-left 0.5s;
    margin-left: 0;
} */

.wrapper .main main {
   
    margin-top: 100px;
}
