.wrapper .main {
    padding: 40px 40px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* width: 80%; */
}

/* #main {
    transition: margin-left 0.5s;
    margin-left: 0;
} */

.wrapper .main main {
    margin-top: 100px;
}