/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* ===== Colors ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #315050;
  --primary-color-light: #f6f5ff;
  --toggle-color: #315050;
  --text-color: #707070;

  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

body {
  height: 100%;
  width: 100%;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #2d2d2d;
  --sidebar-color: #242526;
  --primary-color: #141111;
  --primary-color-light: #3a3b3c;
  --toggle-color: #141111;
  --text-color: #ccc;
}

/* ===== Sidebar ===== */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

.sidebar.close {
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* =========================== */

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  width: 40px;
  margin-left: 20px;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.commentInput {
  display: inline;
}

disabled {
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

.home {
  height: auto;
  position: absolute;
  min-height: 100vh;
  top: 0;
  top: 0;
  left: 250px;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home {
  left: 78px;
  width: calc(100% - 78px);
}

body.dark .home .text {
  color: var(--text-color);
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 0;
}
.activity-input{
  display: block;
  width: 100%;
  padding: 0.52rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

/* .ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
} */

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }

  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }

  .ag-courses-item_link {
    padding: 22px 40px;
  }

  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/* my css---------------------------------------------------------------------------------------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 50%;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.jst_ctr {
  display: flex;
  justify-content: center;
}

.pti_rel_2 {
  position: relative;
  z-index: 2;
}

.date_of_hire {
  font: italic 1.4rem "Fira Sans", serif;
  color: white;
}

.clr_wht {
  color: white;
}

.mb_10 {
  margin-bottom: 10px;
}

.crd_emp_name {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  position: relative;
  color: wheat;
  z-index: 2;
}

.crd_designation {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
  font-weight: 400;
}

.display_flex {
  display: flex;
}

.crd_mail_aln {
  justify-content: center;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}

.pr_z_2 {
  position: relative;
  z-index: 2;
}

.mr_8 {
  margin-right: 8px;
}

.clr_tomato {
  color: tomato;
}

.clr_drk_grey {
  color: wheat;
}

/* serchbox css------------------------------------------------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  background: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.search {
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 37px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  left: 50%;
}

.clr_blue {
  color: blue;
  background-color: #e0dada;
}

/* online crd_css------------------------------------------------------------------------- */
.online_crd_stl {
  width: 25%;
  overflow: hidden;
  border-radius: 28px;
}

.online_txt {
  font-size: 35px;
  color: antiquewhite;
}

.online_count {
  font-size: 25px;
  color: aqua;
}

.col_2 {
  width: 50%;
}

.grp_icon {
  font-size: 55px;
  color: beige;
}

.mt_17 {
  margin-top: 17px;
}

.online_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mb_50 {
  margin-bottom: 50px;
}

.mrg_10 {
  margin: 0px 10px;
}

/* /* dashboard design------------------------------------------------------------------------------ */

.dashboard_welcom_card {
  display: block;
  padding: 30px 20px;
  overflow: hidden;
  background-color: #315050;
  position: relative;
}

.dashboard_welcom_card_width {
  width: 100%;
  overflow: hidden;
  border-radius: 28px;
}

.tagline_stl {
  text-align: center;
  color: antiquewhite;
  font-size: 24px;
  font-family: "Aleo";
}

.welcome_txt {
  text-align: center;
  color: aqua;
  font-size: 80px;
  margin-bottom: 8px;
  font-weight: normal;
  font-family: "Aleo";
}

.box_shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.first_card_stl {
  display: block;
  padding: 30px 20px;
  background-color: #315050;
  overflow: hidden;
  position: relative;
}

.record_atted_txt {
  color: #27d3d8;
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-bottom: 6px;
}

.attendence_txt {
  color: #8d8787;
  font-size: 21px;
}

.days_txt {
  color: beige;
  font-size: 16px;
}

.mt_25 {
  margin-top: 25px;
}

/* comment section style---------------------------------------------- */
.coment {
  background-color: aqua;
  border: 3px solid #000;
  border-radius: 5px;
  height: 43px;
  line-height: normal;
  color: #282828;
  box-sizing: border-box;
  user-select: auto;
  font-size: 16px;
  padding-left: 12px;
  width: 200px;
}

coment:focus {
  border: 3px solid #5551ff;
}

.cmt_btn {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89e5ff 0%, #5468ff 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  padding: 0 32px;
  border-radius: 6px;
  color: #fff;
  height: 41px;
  font-size: 18px;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

cmt_btn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
  transform: translateY(-2px);
}

cmt_btn:active {
  box-shadow: inset 0px 3px 7px #3c4fe0;
  transform: translateY(2px);
}

.brd_btm {
  border-bottom: 2px solid white;
  padding-bottom: 9px;
}

.height_21 {
  height: 21.8rem;
}

.cmt_txt {
  color: bisque;
  font-size: 16px;
}

.pt_28 {
  padding-top: 25px;
}

.mt_30 {
  margin-top: 30px;
}

/* check_in button css---------------------------------------------------------------------------- */

.button {
  text-align: center;
}

.btn-hover.color {
  background-color: #076c07;
}



#activity{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 40px 60px;
  align-items: center;
}

  
#submit{
  background-color: #aecbeb;
  margin-left: 14px;
  text-align: center;
  padding-top: 5px;
}
.green {
    padding: 6px 0px;
    background-color: #076c07;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 6px 0px;
}
.saffron{
  padding: 6px 0px;
  background-color: #a0d5ff;
  /* border-top-left-radius: 16px;
  border-top-right-radius: 16px; */
  padding: 6px 0px;
}
.yellow{
  padding: 6px 0px;
  background-color: #ff9800;
  /* border-top-left-radius: 16px;
  border-top-right-radius: 16px; */
  padding: 6px 0px;
}
.red{
  padding: 6px 0px;
  background-color: #eb0404;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 6px 0px;
}

.green_activity {
  padding: 6px 0px;
  width: 70%;
  padding: 7px 32px;
  
  color: #09f509;
  border-radius: 15px;
  margin: 5px;
  /* color: antiquewhite; */
  font-size: 24px;
  font-family: "Aleo";
}
.yellow_activity {
  padding: 6px 0px;
  width: 70%;
  padding: 7px 32px;
  color: #ff9800;
  /* background-color: #ff9800; */
  border-radius: 15px;
  margin: 5px;
  /* color: antiquewhite; */
  font-size: 24px;
  font-family: "Aleo";
}
.saffron_activity {
  padding: 6px 0px;

  width: 70%;
  padding: 7px 32px;
  color: #a0d5ff;
  /* background-color: #298ad7; */
  border-radius: 15px;
  margin: 5px;
  
  font-size: 24px;
  font-family: "Aleo";
}
.red_activity {
  padding: 6px 0px;
  width: 70%;
  padding: 7px 32px;
  color: #eb0404;
  border-radius: 15px;
  margin: 5px;
  /* color: antiquewhite; */
  font-size: 24px;
  font-family: "Aleo";
}

.btn-hover {
  height: 50px;
  width: 130px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  /* margin: 20px; */
  border: none;
  background-size: 300% 100%;
  border-radius: 13px;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn_2-hover.color {
  background-color: #ff9800;
}

.breckInColor {
  background-color: #ff9800;
  padding:6px 0px
}

.btn_2-hover {
  height: 50px;
  width: 130px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  /* margin: 20px; */
  border: none;
  background-size: 300% 100%;
  border-radius: 13px;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn_2-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* --------------------------------- */

.btn_3-hover.color {
  background-color: #298ad7;
}

.breakOutColor {
  background-color: #298ad7;
  padding: 6px 0px;
}

.btn_3-hover {
  height: 50px;
  width: 130px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  /* margin: 20px; */
  border: none;
  background-size: 300% 100%;
  border-radius: 13px;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn_3-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* ------------------------------------------------ */

.btn_4-hover.color {
  background-color: #c20404;
}

.checkOutColor {
  background-color: #c20404;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 6px 0px;
}

.btn_4-hover {
  height: 50px;
  width: 140px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  /* margin: 20px; */
  border: none;
  background-size: 300% 100%;
  border-radius: 13px;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btn_4-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.pb_12 {
  padding-bottom: 12px;
}
.birthday_emp_name {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  color: wheat;
}
.birthday_designation {
  text-align: center;
  color: aquamarine;
  font-size: 16px;
  font-weight: 400;
}
.birthday_dev {
  color: #b5cdcb;
  font-size: 18px;
  text-align: center;
}
.brd_btm_stl {
  border-bottom: 1px dashed cadetblue;
  padding-bottom: 15px;
}
.height_21_2 {
  height: auto;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
  opacity: 0.5;
}
.check_in_time_btn {
  color: aquamarine;
  text-align: center;
  margin-top: 20px;
}
.clr_checkin {
  background-color: #076c07;
  border-radius: 16px;
}

.clr_brcin {
  background-color: #ff9800;
  border-radius: 16px;
}
.clr_brcout {
  background-color: #298ad7;
  border-radius: 16px;
}
.clr_cheout {
  background-color: red;
  border-radius: 16px;
}
.box_shadow_2 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chekin_txt {
  font-size: 19px;
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  padding-top: 4px;
}

/* table css----------------------------------------------------------------- */

/*---------- TABLES ----------*/
/*----- basics -----*/
table {
  border-collapse: collapse;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px auto 20px auto;
}

/*----- table headings -----*/
th {
  background-color: #aecbeb;
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

/*----- table data (a cell) -----*/
td {
  padding: 8px;
  border-bottom: 1px solid black;
  border: 1px solid rgb(0, 0, 0, 0.2);
}

/*----- table row hover animation -----*/
tr {
  transition: background-color 0.5s;
}
tr:hover {
  background-color: #e8e8e8;
}

td {
  transition: background-color 0.4s;
}
td:hover {
  background-color: lightgrey;
}

/* .attendence card design------------------------------------------------- */
.attendence_crd {
  width: 23%;
  overflow: hidden;
  border-radius: 28px;
}
.attendence_crd_stl {
  display: block;
  padding: 30px 20px;
  background-color: #315050;
  overflow: hidden;
  position: relative;
}
.attendence_crd_stl.dark_mode {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.height_23 {
  height: 23px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #315050;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link.dark_mode {
  display: block;
  padding: 30px 20px;
  background-color: rgb(23, 22, 22);
  overflow: hidden;
  position: relative;
}

.dashboard_welcom_card.dark_mode {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}

.first_card_stl.dark_mode {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.row-page{
  text-align: center;
}
.m_t_b p{
  padding-bottom: 20px;
}
.row-page a {
  text-decoration: none;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(188, 186, 186);
  padding: 10px;

}

#pageno {
  background-color: rgb(43, 43, 94);
}
