<section class="home">

    <div class="ag-format-container">

        <div class="online_card mb_50">

            <div class="online_crd_stl mrg_10 box_shadow_2"  onclick="online()">
              <a href="#" class="ag-courses-item_link" id="onlinecrd1">
               <div onclick="online()">
                <div class="row">
                  <div class="col_2 grp_icon mt_17 jst_ctr">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col_2">
                    <div>
                      <div class="online_txt">Online</div>
                      <div class="online_count"><%=total_online%></div>
                    </div>
                  </div>
                </div>
               </div>
              </a>
            </div>
    
            <div class="online_crd_stl mrg_10 box_shadow_2"  onclick="offline()">
              <a href="#" class="ag-courses-item_link" id="onlinecrd2">
               <div onclick="offline()">
                <div class="row">
                  <div class="col_2 grp_icon mt_17 jst_ctr">
                    <i class="fa fa-group"></i>
                  </div>
                  <div class="col_2">
                    <div>
                      <div class="online_txt">Offline</div>
                      <div class="online_count"><%=total_offline%></div>
                    </div>
                  </div>
                </div>
               </div>
              </a>
            </div>
          </div>

          <div id="activity">
            <div id="search_div">
      
              <input type="text" name="search" class="activity-input" id="search" placeholder="Enter name"
                oninput="hotSearch()">
            </div>
            <div>
              <span id="submit" class="cmt_btn" onclick="hotSearch()">submit</span>
            </div>
      
          </div>

          <div class="ag-courses_box" id="searchCard">
          
         
       
          </div>
    </div>
    </section>

    <script>
    let alldetails='<%-alldetails.length%>'

var mode_switch = document.getElementById('mode_btn')
console.log(mode_switch);

for(let i=0;i<alldetails;i++){

  var cardName="card"+i
  
   cardName = document.getElementById('card'+`${i}`)


}


var onlinecrd1 = document.getElementById('onlinecrd1')
var onlinecrd2 = document.getElementById('onlinecrd2')

mode_switch.addEventListener('click',function(){

var cardIdArr=[]


console.log(alldetails,"alldetains");
for(let j=0;j<alldetails;j++){
  const cardId=("card"+j)

  cardIdArr.push(cardId)

}

console.log(cardIdArr,"card id first");

for(let j=0;j<alldetails;j++){
  var a =document.getElementById(`card${j}`);
  
  a.classList.toggle('dark_mode')
 
}


onlinecrd1.classList.toggle('dark_mode')
onlinecrd2.classList.toggle('dark_mode')

})
  </script>
   
