
<head>
	<meta charset="utf-8">
	<title>Logout</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
</head>

<body ng-app="logoutApp" ng-controller="logoutController">
	<div class="background-photo">
		<div class="jumbotron">
			<div class="container">
				<h1>See you soon!</h1>
			</div>

		</div>
	
		<div class="second">
			<div class="container">
				<div class="col-xs-12 col-sm-6">
          <div class="row">
          <div class="round-class ball">
          <i class="fa fa-thumbs-o-up fa-lg" aria-hidden="true"></i> Thanks to use our web-client, We hope you liked it.</div>
           
          </div>
        
			</div>
		</div>
	</div>
	</div>
</body>

</html>