<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/css/loginRegister.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form
          action="/register"
          method="post"
          onsubmit="return password_verification()"
        >
          <div class="user-details">
            <div class="input-box">
              <p id="showerror-name" style="color: red"></p>
              <span class="details">Name</span>
              <input
                type="text"
                placeholder="Enter your Name"
                name="name"
                id="name"
              />
              <span
                id="hidden_text_name"
                class="field"
                style="color: red"
              ></span>
            </div>
            <div class="input-box">
              <p id="showerror" style="color: red"></p>
              <span class="details">Email</span>
              <input
                type="text"
                placeholder="Enter your email"
                name="email"
                id="email"
                onchange="clone_email(this.value)"
                required
              />
              <span
                id="hidden_text_email"
                class="field"
                style="color: red"
              ></span>
            </div>

            <div class="input-box">
              <span class="details">Password</span>
              <input
                type="password"
                autocomplete="off"
                placeholder="Enter your password"
                name="password"
                id="password"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input
                type="password"
                placeholder="Confirm your password"
                autocomplete="off"
                name="conform_password"
                id="conform_password"
                required
              />
              <span id="hidden_text" class="field" style="color: red"></span>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register" id="submit" />
          </div>

          <div class="text">
            <p>
              If you have an account?
              <a href="/login" class="link"> Login here</a>
            </p>
          </div>
        </form>
      </div>
    </div>

    <script>
      function password_verification() {
        var password = document.getElementById("password");
        var conform_password = document.getElementById("conform_password");
        var hidden_text = document.getElementById("hidden_text");
        var hidden_text_email = document.getElementById("hidden_text_email");
        var validRegex =
          /^[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$/;

        var email = document.getElementById("email");
        var namevalid = "/[^0-9]/g";
        var name = document.getElementById("name");

        console.log(password.value);
        console.log(conform_password.value);
        if (password.value.length < 3) {
          // console.log((password.value).length)
          hidden_text.innerHTML = "password must be 3 character!...";
          return false;
        }
        if (password.value != conform_password.value) {
          hidden_text.innerHTML = "Password doesnot match!...";
          return false;
        }
        if (!email.value.match(validRegex)) {
          console.log("sanjay");
          hidden_text_email.innerHTML = "Enter Correct email_id .....";
          return false;
        }
        if (name.value == "" || name.value == null) {
          console.log("sanjay");
          hidden_text_name.innerHTML = "Please enter your name......";
          return false;
        }
        if (!isNaN(name.value)) {
          console.log("sanjay");
          hidden_text_name.innerHTML = "Enter Correct name .....";
          return false;
        } else {
          return true;
        }
      }
      function clone_email(email) {
        fetch("/clone-email", {
          method: "POST",
          headers: {
            "Content-type": "application/json",
          },
          body: JSON.stringify({
            email: email,
          }),
        })
          .then((res) => {
            return res.json();
          })
          .then((res) => {
            console.log(res);
            if (res == false) {
              document.getElementById("showerror").innerHTML =
                "User is already exist";
              document.getElementById("submit").disabled = true;
            } else {
              console.log("inside the elsse");
              document.getElementById("showerror").innerHTML = "";
              document.getElementById("submit").disabled = false;
            }
          });
      }
    </script>
  </body>
</html>
