<section class="header-section">
  <div class="logo"></div>
  <div class="header-icons">
    <a href="/login">
      <i
        class="fa fa-sign-out fa-3x"
        aria-hidden="true"
        onclick="return logout()"
      ></i>
    </a>

    <div class="account">
      <img src="/images/profile.jpg" alt="profile" />
      <a href="/profile">Tony Stark</a>
      <!-- <h4></h4> -->
    </div>
  </div>
</section>

<script>
  function logout() {
    console.log("clicked logout");

    fetch("/logout", {
      method: "POST",
    });
  }
</script>
